:root {
    --primary-color: #000000;
    --secondary-color: #23252B;
    --text-color: #DADADA;
    --actions-color: #DADADA;
    --logo-color: #FF640A;
    --button-color: #FF640A;
    --link-hover-color: #FCFCFC;
    --link-action-hover: #43444b;
    --form-color:#141519;
    --button-hover-color: #e0631b;
  }